<div class="row">
   <div class="col-md-12">
      <div class="col-md-12">
         <div class="clearfix">
         </div>
         <div>
           
           {%- assign boxItems = site.data.config-category_box -%} 
           
           {% for box in boxItems %}
              {% if box.id%3 != 1 %}
              <div class="spotlight-flexbox browse-categories categories-3" data-sidebar='false'>
                  <div class="box category-1">
                      <a href={{ box.link }}>
                         <div class="browse-category" style='background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)) , url({{ box.bg_img }})'>
                            <div class="category-caption">
                               <p class="category-title">
                                  {{ box.name }}
                               </p>
                            </div>
                         </div>
                      </a>
                   </div>
              {% endif %}
              {% if box.id%3 != 2 %}
                  <div class="box category-2">
                      <a href={{ box.link }}>
                         <div class="browse-category" style='background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)) , url({{ box.bg_img }})'>
                            <div class="category-caption">
                               <p class="category-title">
                                  {{ box.name }}
                               </p>
                            </div>
                         </div>
                      </a>
                   </div>
              {% endif %}
              {% if box.id%3 != 0 %}
                  <div class="box category-3">
                      <a href={{ box.link }}>
                         <div class="browse-category" style='background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)) , url({{ box.bg_img }})'>
                            <div class="category-caption">
                               <p class="category-title">
                                  {{ box.name }}
                               </p>
                            </div>
                         </div>
                      </a>
                   </div>
               </div>
              {% endif %}
           {%- endfor -%}  
         </div>
      </div>
   </div>
</div>
