<footer>
  <div class="region region-page-bottom">
    <section id="uobannerandfooter-uoankle">
      <div class="uoankle-container container" style="margin: 0 auto;">
        <div class="row">
          <div class="col-md-3">
            <address>
              <div itemprop="name">
                <strong>University of Oregon Libraries</strong>
              </div>
              <div itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress">
                <div>
                  <span itemprop="streetAddress">1501 Kincaid Street</span>
                  <span itemprop="addressLocality">Eugene</span>,
                  <span itemprop="addressRegion">OR</span>
                </div>
                <div>
                  <span itemprop="postalCode">97403-1299</span>
                </div>
              </div>
            </address>
          </div>
          <div class="col-md-5">
            <a href="https://securelb.imodules.com/s/1540/foundation/2col.aspx?sid=1540&amp;gid=1&amp;pgid=408&amp;cid=1095">
                
              <img alt="Make a Gift" src="{{ '/assets/img/givenow-sm-a9173dd0e87a62f7f47422451098ec50fa931a041fc010a5e6c0734097344ed0.png' | relative_url }}" />
            </a>
          </div>
          <div class="col-md-4 social-icons">
            <a href="http://www.facebook.com/uolibraries">
              <img alt="Facebook" src="{{ '/assets/img/icon-facebook-88d3ee20b79b44e199ea8c81ca862e5175e10509b670f20f0b4d4c083b2a1781.png' | relative_url }}" />
            </a>
            <a href="http://twitter.com/uolibraries">
              <img alt="Twitter" src="{{ '/assets/img/icon-twitter-a7709b4ef19e2dc5355b47f03f5e0061df403295f5f6f3534c50e247b8a0f802.png' | relative_url }}" />
            </a>
            <a href="https://www.youtube.com/c/uolibrarieseugene">
              <img alt="YouTube Channel" src="{{ '/assets/img/icon-youtube-c500b3f1dfde6e8a78c28b4ddec4b7a40d2cf1fcb10b0f1dc2bfed803f78081f.png' | relative_url }}" />
            </a>
            <a href="https://www.instagram.com/uolibraries/">
              <img alt="Instagram" src="{{ '/assets/img/icon-instagram-e4d4314c6af3d11cba150c96185d8625830b6ba43401547ff7e3a9b3030866df.png' | relative_url }}" />
            </a>
          </div>
        </div>
      </div>
    </section>

    <section id="uobannerandfooter-uofooter">
      <div class="uofooter-container container">
        <div class="col-md-6">&nbsp;</div>
        <div class="col-md-5">
          <div class="uofooter-copyright-container">
            <span class="copyright">
              &copy;
              <a href="http://uoregon.edu/">University of Oregon</a>.
            </span>
            <span class="all-rights-reserved">All Rights Reserved.</span>
          </div>
        </div>
        <div class="col-md-1 uofooter-logo-container">
          <a href="http://uoregon.edu/">
            <img alt="University of Oregon" width="53" height="44" src="{{ '/assets/img/footer-logo-272be8124160d41e34bf73970389fa67cf9f658b23fede90aa6aec087176bde2.png' | relative_url}}" />
          </a>
        </div>
      </div>
    </section>
  </div>
</footer>
