#header-navbar .navbar-brand {
    width: 150px;
    height: 50px;
    background: transparent "/assets/uolib-logo-d6bbb9e7c6712b462e43b2689e652849f8d70f76b56042af3cded0d1b9b25084.png" no-repeat top left;
    background: transparent url(uolib-logo-d6bbb9e7c6712b462e43b2689e652849f8d70f76b56042af3cded0d1b9b25084.png) no-repeat top left;
    display: inline-block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 0;
    margin-right: 20px;
    padding-left: 0;
}
#search-navbar {
    z-index: 1;
}
#search-navbar .input-group {
    width: 100%;
}
#search-navbar .input-group-addon.for-search-field {
    background-color: #fff;
    border-radius: 4px 0 0 4px;
    width: 15ch;
}
#search-navbar .search_field {
    background: transparent;
    border: none;
}
#search-navbar .search-query-form {
    border: 0;
    padding-left: 0;
}
@media screen and (max-width: 480px) {
    #search-navbar .submit-search-text {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }
}

/* .image-masthead .background-container-gradient {
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    width: auto;
    height: inherit;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5));
    height: 100%;
} */

.constraints-container {
    line-height: 2.5;
    padding: 16px 19px;
}
.appliedFilter .constraint-value {
    cursor: default;
    text-overflow: ellipsis;
    overflow: hidden;
}
@media (max-width: 767px) {
    .appliedFilter .constraint-value {
        max-width: 240px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .appliedFilter .constraint-value {
        max-width: 384px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .appliedFilter .constraint-value {
        max-width: 496px;
    }
}
@media (min-width: 1200px) {
    .appliedFilter .constraint-value {
        max-width: 600px;
    }
}

.spotlight-flexbox {
    display: flex;
    flex-flow: row wrap;
}
.spotlight-flexbox .box {
    text-align: center;
    padding: 1em;
    min-width: 125px;
    flex: 1;
    -webkit-flex: 1 1 125px;
}

.spotlight-flexbox .box .browse-category{
    height:260px;
}

.browse-category .category-caption {
    color: #eeeeee;
    text-align: center;
    text-shadow: 0 1px 0 #000000;
    width: 100%;
}

@media (max-width: 767px) {
    .spotlight-flexbox .box {
        min-width: 200px;
        -webkit-flex: 1 1 200px;
    }
}
.spotlight-flexbox .box .caption {
    margin-top: 5px;
    font-style: italic;
}
.spotlight-flexbox .box img {
    max-width: 100%;
}

footer {
/*     position: absolute; */
    bottom: 0;
    height: 282px;
    width: 100%;
}
#uobannerandfooter-uoankle {
    color: white;
    font-size: 16px;
    background: #222;
}
.uoankle-container {
    padding-top: 45px;
    padding-bottom: 45px;
}
#uobannerandfooter-uofooter {
    color: white;
    font-size: 16px;
    background: black;
    text-transform: uppercase;
}
#uobannerandfooter-uofooter a {
    font-weight: normal;
    color: #bbb;
}
.uofooter-container {
    padding-top: 30px;
    padding-bottom: 30px;
}
.uofooter-container div {
    display: inline-block;
}
.uofooter-link {
    padding: 0 40px 0 0;
}
.uofooter-logo-container {
    top: -12px;
    text-align: right;
}
.social-icons img {
    width: 40px;
    height: 40px;
}
