.spotlight-flexbox {
    display: flex;
    flex-flow: row wrap;
}
.spotlight-flexbox .box {
    text-align: center;
    padding: 1em;
    min-width: 125px;
    height:260px;
    flex: 1;
    -webkit-flex: 1 1 125px;
}

.spotlight-flexbox .box .browse-category{
    height:260px;
}

.browse-category .category-caption {
    color: #eeeeee;
    text-align: center;
    text-shadow: 0 1px 0 #000000;
    width: 100%;
}

@media (max-width: 767px) {
    .spotlight-flexbox .box {
        min-width: 200px;
        -webkit-flex: 1 1 200px;
    }
}
.spotlight-flexbox .box .caption {
    margin-top: 5px;
    font-style: italic;
}
.spotlight-flexbox .box img {
    max-width: 100%;
}

footer {
/*     position: absolute; */
    bottom: 0;
    height: 282px;
    width: 100%;
}
#uobannerandfooter-uoankle {
    color: white;
    font-size: 16px;
    background: #222;
}
.uoankle-container {
    padding-top: 45px;
    padding-bottom: 45px;
}
#uobannerandfooter-uofooter {
    color: white;
    font-size: 16px;
    background: black;
    text-transform: uppercase;
}
#uobannerandfooter-uofooter a {
    font-weight: normal;
    color: #bbb;
}
.uofooter-container {
    padding-top: 30px;
    padding-bottom: 30px;
}
.uofooter-container div {
    display: inline-block;
}
.uofooter-link {
    padding: 0 40px 0 0;
}
.uofooter-logo-container {
    top: -12px;
    text-align: right;
}
.social-icons img {
    width: 40px;
    height: 40px;
}
