---
layout: default
---
<div class="container my-4 about-contents">

      <div class="row">
      <div id="sidebar" class="col-md-3" role="complementary">
  <h4 class="nav-heading">About</h4>
  <ul class="nav sidenav">
      <li class="active">
        <a href="credits.html">Credits</a>
      </li>
  </ul>
  
    
</div>



<div class="col-md-9">
  <div class="clearfix">
    
      <h1 class="page-title">
        Credits
      </h1>
  </div>
  <div>
      <div class="st__content-block st__content-block--text">
  <p>Tomorrow’s Scientists: Children’s Literature of the Cold War Era was curated by University of Oegon Libraries Special Collections &amp; University Archives&#39; Curator of Visual Materials Danielle Mericle, Lead Processing Archivist Alexandra Bisio, and Special Projects Processing Archivist Alexa Goff in Fall 2019 and presented jointly by the University of Oregon Libraries and the Eugene Public Library.</p>

</div>
<div class="st__content-block st__content-block--text">
  <p>The exhibit was presented at the University of Oregon Libraries, November 2019 through March 2020, and the Eugene Public Library, November 2019 through January 2020. All exhibit materials were drawn from collections at the University of Oregon Libraries Special Collections &amp; University Archives.</p>

</div>
<div class="st__content-block st__content-block--text">
  <p>Reproduction services were provided by Randy Sullivan, Digital Production Manager, University of Oregon Libraries’ Digital Scholarship Services. Digital exhibit production services were provided by Nathan Georgitis, Archivist for Digital Collections, University of Oregon Libraries Special Collections &amp; University Archives.</p>

</div>

  </div>
</div>
  
</div>

