---
layout: default
---
<div class="container breadcrumbs-container">
  <div class="row">
    <div class="col-md-12">
      <ul class="breadcrumb"><li><a href="/">Home</a></li><li class="active">Communism: An American’s View</li></ul>
    </div>
  </div>
</div>

<div class="container">
       <div class="row">
      <div id="sidebar" class="col-md-3" role="complementary">
  <ol class="nav sidenav">
      <li class="">
        <h4><a href="the-cold-war-and-children-s-books.html">The Cold War and Children&#39;s Books</a></h4>
        <ol class="subsection">
        </ol>
      </li>
      <li class="">
        <h4><a href="science-and-national-identity.html">Science and National Identity</a></h4>
        <ol class="subsection">
        </ol>
      </li>
      <li class="">
        <h4><a href="illustrating-space.html">Illustrating Space</a></h4>
        <ol class="subsection">
        </ol>
      </li>
      <li class="">
        <h4><a href="frontiers-in-children-s-science-books.html">Frontiers in Children&#39;s Science Books</a></h4>
        <ol class="subsection">
        </ol>
      </li>
      <li class="">
        <h4><a href="our-friend-the-atom.html">Our Friend the Atom</a></h4>
        <ol class="subsection">
        </ol>
      </li>
      <li class="">
        <h4><a href="science-in-storybooks.html">Science in Storybooks</a></h4>
        <ol class="subsection">
        </ol>
      </li>
      <li class="active">
        <h4>Communism: An American’s View</h4>
        <ol class="subsection">
        </ol>
      </li>
      <li class="">
        <h4><a href="what-we-want-of-our-schools.html">What We Want of Our Schools</a></h4>
        <ol class="subsection">
        </ol>
      </li>
      <li class="">
        <h4><a href="conclusion.html">Conclusion</a></h4>
        <ol class="subsection">
        </ol>
      </li>
  </ol>
</div>



<div class="col-md-9">
  <div class="clearfix">
    
      <h1 class="page-title">
        Communism: An American’s View
      </h1>
  </div>
  <div>
      
<div class="content-block items-block row">

    <div class="text-col col-md-12">
      <p>
        Gerald W. Johnson (1890–1980) was an American journalist and author known for his adversarial political commentary, including speaking out against loyalty oaths. Johnson also wrote historical and political books for children and notably received Newbery honors for America is Born (1960) and America Moves Forward (1961).
      </p>
      
      <p>
      The dust jacket for Communism: An American’s View describes the reasons for publishing a children’s book on this controversial topic, “Americans find Communism hard to understand, and yet it is vitally important that they do. Young people, in particular, have little to read on this form of government . . . They will also be moved by the author’s eloquent statement of his belief in freedom of mind and what every American must do to defend it.”
      </p>
    </div>
</div>
