---
layout: default
---
<div class="container breadcrumbs-container">
  <div class="row">
    <div class="col-md-12">
      <ul class="breadcrumb"><li><a href="/">Home</a></li><li class="active">Conclusion</li></ul>
    </div>
  </div>
</div>

<div class="container">
    <div class="row">
      <div id="sidebar" class="col-md-3" role="complementary">
  <ol class="nav sidenav">
      <li class="">
        <h4><a href="the-cold-war-and-children-s-books.html">The Cold War and Children&#39;s Books</a></h4>
        <ol class="subsection">
        </ol>
      </li>
      <li class="">
        <h4><a href="science-and-national-identity.html">Science and National Identity</a></h4>
        <ol class="subsection">
        </ol>
      </li>
      <li class="">
        <h4><a href="illustrating-space.html">Illustrating Space</a></h4>
        <ol class="subsection">
        </ol>
      </li>
      <li class="">
        <h4>Frontiers in Children&#39;s Science Books</h4>
        <ol class="subsection">
        </ol>
      </li>
      <li class="">
        <h4><a href="our-friend-the-atom.html">Our Friend the Atom</a></h4>
        <ol class="subsection">
        </ol>
      </li>
      <li class="">
        <h4><a href="science-in-storybooks.html">Science in Storybooks</a></h4>
        <ol class="subsection">
        </ol>
      </li>
      <li class="">
        <h4><a href="communism-an-american-s-view.html">Communism: An American’s View</a></h4>
        <ol class="subsection">
        </ol>
      </li>
      <li class="">
        <h4><a href="what-we-want-of-our-schools.html">What We Want of Our Schools</a></h4>
        <ol class="subsection">
        </ol>
      </li>
      <li class="active">
        <h4><a href="conclusion.html">Conclusion</a></h4>
        <ol class="subsection">
        </ol>
      </li>
  </ol>
</div>



<div class="col-md-9">
  <div class="clearfix">
    
      <h1 class="page-title">
        Conclusion
      </h1>
  </div>
  <div>
      
<div class="content-block items-block row">

    <div class="text-col col-md-12">
        <h3>Wernher von Braun Visualizes Spaceflight and Settlement</h3>
      <p>Before the creation of NASA, German engineer Wernher von Braun (1912–1977) first took his vision of space exploration and manned space travel directly to the American public for support. In 1952, von Braun and other NASA engineers and space writers published a series of articles in the popular national magazine Collier’s titled “Man Will Conquer Space Soon!” In “Crossing the Last Frontier,” von Braun presents his blueprints for a space station alongside concept art by Chesley Bonestell. The series garnered early public support for spaceflight not only through its visual and imaginative presentation, but also by pointing out the military advantages to be gained to the victor of the Space Race, whether Soviet or American. Von Braun would come to play a key role in the success of the Apollo missions of the 1960s. </p>

    </div>
</div>

<div class="text-col col-md-12">
   <h3>Heinz Haber Presents Space Sciences To Youth</h3>
 <p>Like Wernher von Braun, German physicist Heinz Haber (1913–1990) was targeted by Operation Paperclip and brought to the United States after World War II, where Haber began to work for the US military on space medicine research. During the escalating Soviet-American Space Race, Haber took his personal connections and knowledge of groundbreaking space research to editor Lucille Ogle of Golden Press/Western Publishing, the largest publisher of children’s books at the time, to develop books on the “space sciences” for children.</p>

<p><p dir="ltr" id="docs-internal-guid-3b70eaaa-7fff-851d-8ea9-ddd5ddc52574">Haber separates astronomy from the nascent field of “space sciences” as one which has “recently become a strong economic factor in the life of our nation and a public affair of the highest importance. Its past, present, and future development is highlighted by a continuous sequence of current events. Its intellectual impact upon the thinking of the modern world is very great” (p. 2).</p>
    </div>
