---
layout: page
---
{%- assign items = site.data[site.metadata] -%}
<div class="row">
  <div class="col-md-12">
    
    <div class="col-md-12">
  <div class="clearfix">
    
  </div>
  <div>
    <div class="spotlight-flexbox browse-categories categories-3" data-sidebar='false'>
      <div class="box category-1">
        <a href="tomorrows-scientists/feature/the-cold-war-and-children-s-books.html">
          <div class="browse-category" style='background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)) , url(https://expo.uoregon.edu/images/480/200%2c1448%2c1216%2c912/400%2c300/0/default.html)'>
            <div class="category-caption">
              <p class="category-title">
                The Cold War and Children&#39;s Books
              </p>
            </div>
          </div>
</a>      </div>
      <div class="box category-2">
        <a href="tomorrows-scientists/feature/science-and-national-identity.html">
          <div class="browse-category" style='background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)) , url(https://expo.uoregon.edu/images/483/592%2c2334%2c578%2c434/400%2c300/0/default.html)'>
            <div class="category-caption">
              <p class="category-title">
                Science and National Identity
              </p>
            </div>
          </div>
</a>      </div>
      <div class="box category-3">
        <a href="tomorrows-scientists/feature/illustrating-space.html">
          <div class="browse-category" style='background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)) , url(https://expo.uoregon.edu/images/568/72%2c464%2c1376%2c1032/400%2c300/0/default.html)'>
            <div class="category-caption">
              <p class="category-title">
                Illustrating Space
              </p>
            </div>
          </div>
</a>      </div>
  </div>
  <div class="spotlight-flexbox browse-categories categories-3" data-sidebar='false'>
      <div class="box category-1">
        <a href="tomorrows-scientists/feature/frontiers-in-children-s-science-books.html">
          <div class="browse-category" style='background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)) , url(https://expo.uoregon.edu/images/590/832%2c1141%2c1200%2c900/400%2c300/0/default.html)'>
            <div class="category-caption">
              <p class="category-title">
                Frontiers in Children&#39;s Science Books
              </p>
            </div>
          </div>
</a>      </div>
      <div class="box category-2">
        <a href="tomorrows-scientists/feature/our-friend-the-atom.html">
          <div class="browse-category" style='background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)) , url(https://expo.uoregon.edu/images/578/128%2c760%2c2376%2c1784/400%2c300/0/default.html)'>
            <div class="category-caption">
              <p class="category-title">
                Our Friend the Atom
              </p>
            </div>
          </div>
</a>      </div>
      <div class="box category-3">
        <a href="tomorrows-scientists/feature/science-in-storybooks.html">
          <div class="browse-category" style='background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)) , url(https://expo.uoregon.edu/images/583/1792%2c869%2c1364%2c1023/400%2c300/0/default.html)'>
            <div class="category-caption">
              <p class="category-title">
                Science in Storybooks
              </p>
            </div>
          </div>
</a>      </div>
  </div>
  <div class="spotlight-flexbox browse-categories categories-3" data-sidebar='false'>
      <div class="box category-1">
        <a href="tomorrows-scientists/feature/communism-an-american-s-view.html">
          <div class="browse-category" style='background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)) , url(https://expo.uoregon.edu/images/587/429%2c834%2c1021%2c766/400%2c300/0/default.html)'>
            <div class="category-caption">
              <p class="category-title">
                Communism: An American’s View
              </p>
            </div>
          </div>
</a>      </div>
      <div class="box category-2">
        <a href="tomorrows-scientists/feature/what-we-want-of-our-schools.html">
          <div class="browse-category" style='background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)) , url(https://expo.uoregon.edu/images/589/202%2c224%2c1254%2c936/400%2c300/0/default.html)'>
            <div class="category-caption">
              <p class="category-title">
                What We Want of Our Schools
              </p>
            </div>
          </div>
</a>      </div>
      <div class="box category-3">
        <a href="tomorrows-scientists/feature/conclusion.html">
          <div class="browse-category" style='background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)) , url(https://expo.uoregon.edu/images/590/1112%2c869%2c1200%2c900/400%2c300/0/default.html)'>
            <div class="category-caption">
              <p class="category-title">
                Conclusion
              </p>
            </div>
          </div>
</a>      </div>
  </div>

  </div>
</div>
  
  </div>

</div>
