---
layout: default
---
<div class="container breadcrumbs-container">
  <div class="row">
    <div class="col-md-12">
      <ul class="breadcrumb"><li><a href="/">Home</a></li><li class="active">Frontiers in Children&#39;s Science Books</li></ul>
    </div>
  </div>
</div>

<div class="container">
    <div class="row">
      <div id="sidebar" class="col-md-3" role="complementary">
  <ol class="nav sidenav">
      <li class="">
        <h4>The Cold War and Children&#39;s Books</h4>
        <ol class="subsection">
        </ol>
      </li>
      <li class="">
        <h4><a href="science-and-national-identity.html">Science and National Identity</a></h4>
        <ol class="subsection">
        </ol>
      </li>
      <li class="">
        <h4><a href="illustrating-space.html">Illustrating Space</a></h4>
        <ol class="subsection">
        </ol>
      </li>
      <li class="">
        <h4><a href="frontiers-in-children-s-science-books.html">Frontiers in Children&#39;s Science Books</a></h4>
        <ol class="subsection">
        </ol>
      </li>
      <li class="active">
        <h4><a href="our-friend-the-atom.html">Our Friend the Atom</a></h4>
        <ol class="subsection">
        </ol>
      </li>
      <li class="">
        <h4><a href="science-in-storybooks.html">Science in Storybooks</a></h4>
        <ol class="subsection">
        </ol>
      </li>
      <li class="">
        <h4><a href="communism-an-american-s-view.html">Communism: An American’s View</a></h4>
        <ol class="subsection">
        </ol>
      </li>
      <li class="">
        <h4><a href="what-we-want-of-our-schools.html">What We Want of Our Schools</a></h4>
        <ol class="subsection">
        </ol>
      </li>
      <li class="">
        <h4><a href="conclusion.html">Conclusion</a></h4>
        <ol class="subsection">
        </ol>
      </li>
  </ol>
</div>



<div class="col-md-9">
  <div class="clearfix">
    
      <h1 class="page-title">
        Our Friend the Atom
      </h1>
  </div>
  <div>
      
<div class="content-block items-block row">

    <div class="text-col col-md-12">
      <blockquote>
        <p>With President Eisenhower’s famous “Atoms for Peace” speech delivered before the United Nations General Assembly on December 8, 1953, the American government initiated its rhetorical campaign to simultaneously harness atomic energy for military strength and persuade the public of its safety. During this period of increased access to children’s literature, middle-class American children of the 1950s also had more access to television than ever before. At the height of the Cold War and the Age of Television, film producer Walt Disney capitalized on the domesticated, peaceful narrative of the atom through the guise of education.</p>
      </blockquote>
      
      <p>
        <p>German physicists Wernher von Braun and Heinz Haber were both solicited by Walt Disney to present educational science programs for children. The first television show in this series was Man in Space, which aired on ABC on March 9, 1955 to an estimated audience of 42 million. An apocryphal account by Disney archivist David R. Smith relates that President Eisenhower personally called Disney after the show’s airing to compliment him and request a copy for Pentagon officials. </p>
      </p>
    </div>
</div>
