---
layout: default
---
<div class="container breadcrumbs-container">
  <div class="row">
    <div class="col-md-12">
      <ul class="breadcrumb"><li><a href="/">Home</a></li><li class="active">Science and National Identity</li></ul>
    </div>
  </div>
</div>

<div class="container">
       <div class="row">
      <div id="sidebar" class="col-md-3" role="complementary">
  <ol class="nav sidenav">
      <li class="">
        <h4><a href="the-cold-war-and-children-s-books.html">The Cold War and Children&#39;s Books</a></h4>
        <ol class="subsection">
        </ol>
      </li>
      <li class="active">
        <h4>Science and National Identity</h4>
        <ol class="subsection">
        </ol>
      </li>
      <li class="">
        <h4><a href="illustrating-space.html">Illustrating Space</a></h4>
        <ol class="subsection">
        </ol>
      </li>
      <li class="">
        <h4><a href="frontiers-in-children-s-science-books.html">Frontiers in Children&#39;s Science Books</a></h4>
        <ol class="subsection">
        </ol>
      </li>
      <li class="">
        <h4><a href="our-friend-the-atom.html">Our Friend the Atom</a></h4>
        <ol class="subsection">
        </ol>
      </li>
      <li class="">
        <h4><a href="science-in-storybooks.html">Science in Storybooks</a></h4>
        <ol class="subsection">
        </ol>
      </li>
      <li class="">
        <h4><a href="communism-an-american-s-view.html">Communism: An American’s View</a></h4>
        <ol class="subsection">
        </ol>
      </li>
      <li class="">
        <h4><a href="what-we-want-of-our-schools.html">What We Want of Our Schools</a></h4>
        <ol class="subsection">
        </ol>
      </li>
      <li class="">
        <h4><a href="conclusion.html">Conclusion</a></h4>
        <ol class="subsection">
        </ol>
      </li>
  </ol>
</div>



<div class="col-md-9">
  <div class="clearfix">
    
      <h1 class="page-title">
        Science and National Identity
      </h1>
  </div>
  <div>
      <div class="st__content-block st__content-block--text">
  <p>In 1956, popular American magazine Life profiled the differences between American and Soviet science education in the photo essay “The Golden Youth of Communism.” This article played to America’s fears that we were losing the Cold War by drawing attention to the shortfalls of American science education and “the disturbing fact that Russia is producing nearly twice as many scientists and engineers as the US” (p. 36). </p>

</div>
<div class="st__content-block st__content-block--text">
  <p>In the global race to launch a man-made satellite into space, education became a key focus in creating tomorrow’s scientists. To this aim, the first White House Conference on Education was held in 1955 to address the baby boom and increased need for teachers, as well as the issue of repelling Communist influences in the classroom. To address the perceived lag behind Soviet Union scientific manpower, President Eisenhower formed the Committee of Scientists and Engineers in 1956, whose task was to increase the national supply of scientists and engineers. With the slogan “Science is Strength,” the political exigency of improving early science education and creating “informed citizens of tomorrow” is described in this October 1958 press release and classroom poster for the committee’s “National Youth Science Month” campaign </p>

</div>
<div class="st__content-block st__content-block--text">
  <p>With support from the United States Atomic Energy Commission, the Boy Scouts of America addressed the increased need for training young scientists by creating a Merit Badge in Atomic Energy in 1963. </p>

</div>
<div class="content-block carousel-block carousel-height-medium">
  <div id="carousel-47449115624400" class="carousel slide" data-ride="carousel"  data-interval="5000">
    <div class="carousel-inner">
      <div class="item active" data-id="27-402">
          <a data-context-href="/catalog/27-402/track?counter=-1&amp;search_id=5354" href="../catalog/27-402.html"><img alt="“National Youth Science Month” press release and classroom poster, October 1958, facsimile reproductions." src="../../../images/482/full/%21800%2c800/0/default.jpg" /></a>
        <div class="carousel-caption">
            <h3 class="primary">
              “National Youth Science Month” classroom poster, October 1958, facsimile reproduction.
            </h3>
        </div>
      </div>
      <div class="item " data-id="27-403">
          <a data-context-href="/catalog/27-403/track?counter=-1&amp;search_id=5354" href="../catalog/27-403.html"><img alt="Atomic Energy Merit Badge and Booklet, Boy Scouts of America, 1963." src="../../../images/483/full/%21800%2c800/0/default.jpg" /></a>
        <div class="carousel-caption">
            <h3 class="primary">
              Atomic Energy Merit Badge and Booklet, Boy Scouts of America, 1963.
            </h3>
        </div>
      </div>
    </div>

    <!-- Indicators -->
    <ol class="carousel-indicators">
              <li data-target="#carousel-47449115624400" data-slide-to="0" class="active"></li>

        <li data-target="#carousel-47449115624400" data-slide-to="1" class=""></li>

    </ol>

    <!-- Controls -->
    <a class="left carousel-control prev" href="#carousel-47449115624400" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control next" href="#carousel-47449115624400" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>

  </div>
</div>

    </div>
</div>
